<div class="container-fluid">
    <div class="background-sky hero"></div>
    <h1 class="text-center text ">About Us</h1>

    <div class="row mt-5">

        <div class="col-md-12 col-lg-6 p-5  ">

            <p>Having a deep knowledge of spirituality, astrology and vastu, Acharya Devkaant ji is efficiently helping people in making them free from their problems. </p>
            <p>In the age of 30, he acquired the profound knowledge of amazing spiritual powers. He helped tons of people in getting free from their all sort of problems, be it health issues or family troubles. He got his hands on this power under the guidance
                of his first teacher, Pandit Babulal ji Sharma. He is renowned and well-versed astrologer who holds a deep knowledge of multiple sections of astro world. </p>
            <p>Guruji aim to make everyone free from all sort of pains troubles and with his deep spiritual and astrological knowledge he is contributing in making their life better. He suggests how a person often lost in the trap of problems and hence offers
                the best remedies and solutions to divest themselves from those unfavorable situations</p>
        </div>
        <div class="col-md-12 col-lg-6  ">
            <img src="../../assets/img/esoteric-652641_960_720.jpg" class="image ml-4 ">

        </div>



    </div>

    <!-- Footer -->
    <div class="container my-5">

        <!-- Section -->
        <section>

            <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Services</h6>
            <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
            <hr class="w-header my-4">
            <p class="lead text-center text-muted pt-2 mb-5">Connect with the top astrologer in Indore and know what your stars have for you.
            </p>

            <div class="row">

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card text-center bg-success text-white hoverable">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="far fa-object-ungroup fa-4x"></i></p>
                            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Kundali predications</a></h5>
                            <p class="mb-4">Kundali is the mirror of individual life that helps in understanding everything about the persons past and future.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card text-center hoverable">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="fas fa-heart fa-4x grey-text"></i></p>
                            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Relationship/ love horoscope</a></h5>
                            <p class="text-muted mb-4">Love marriage problems or issues related to relationship and companionship, trust our top astrologers. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card text-center deep-purple lighten-1 text-white hoverable">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="fas fa-chart-line fa-4x"></i></p>
                            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Wealth/ finance report</a></h5>
                            <p class="mb-4">Get the astrology guidance from (company name). We can help you earn the big bucks, analyzing your horoscope reports.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card text-center hoverable">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="fas fa-briefcase-medical fa-4x grey-text"></i></p>
                            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Health predication</a></h5>
                            <p class="text-muted mb-4">Ask everything about health astrology, health problems and medical horoscope from our expert astrologer</p>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- Section -->
    </div>
</div>