<div class="container-fluid">
    <div class="background-sky hero"></div>
    <h1 class="text-center text  ">Our Services</h1>
    <div class="row " style="margin-top: 5rem; padding-left: 2rem; padding-right: 4rem;">
        <div class="col-md-12 col-lg-6">
            <h1 class="mt-5 ">Career predication</h1>
            <p>Unemployed or not satisfied with the current job? Question like, do I get the government job? Which is the right career choice for me according to my date of birth? What is best for me business or job? Are some concerns related to career
              prediction that strikes your mind?</p>
            <p>
                If this is your case, look no further and ask to guruji n for correct career astrology predications, job astrology and financial concern to balance your professional life.
            </p>
            <p>
                To get the correct career predication report and answers to your questions, type all the details in the form given below.
            </p>
            <button class="btn btn-warning waves-effect" data-toggle="modal" data-target="#orangeModalSubscription">Consult Now</button>

        </div>
        <div class="col-md-12 col-lg-6 mt-5 ">
            <img src="../../assets/img/career (1).jpg" class="image  ">

        </div>
        <hr>
        <div class="col-md-12 col-lg-6">
            <img src="../../assets/img/marriage.jpg" class="image pt-5 ">
        </div>
        <div class="col-md-12 col-lg-6 pt-5 pl-5">
            <h1 class="pt-3">Marriage predication</h1>
            <p>

                As an eligible individual, one might be suspicious about what is the auspicious time of my marriage? Will I have arranged or love marriage? How my partner and married life be? Get to know the correct marriage predication and answers to all your concerns.
             We evaluate all the planetary positions affecting your marriage to make predication related to marriage and companionship .
            </p>
            <p>
                Find answers to all such questions by feeding in the required details. We hope this will help you make best astrology martial/marriage predication based on date of birth .
            </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>

        </div>
        <div class="col-md-12 col-lg-6 pt-5">
            <h1 class="pt-3">Health predication</h1>
            <p>They say health is the real wealth. The striking balance between state of mind, body and soul effects humans have a better future and life. Don’t let their imbalance downturn your path. Aware yourself with all the possible critical issues
                effecting your physical & mental health and Ask everything about health astrology, health problems, upcoming medical issues and medical horoscope from our expert astrologer .</p>
            <p>
                Scroll down to fill the birth details and check the summary health report made by Guruji.
            </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>

        </div>
        <div class="col-md-12 col-lg-6 pr-5">
            <img src="../../assets/img/health.jpg" class="image pt-5 ">

        </div>
        <div class="col-md-12 col-lg-6 ">
            <img src="../../assets/img/business.jpg" class="image pt-5 ">

        </div>
        <div class="col-md-12 col-lg-6 pt-5 pl-5">
            <h1 class="pt-3">Business (Vyapar) predication</h1>
            <p>
                Businesses are the risky affairs where time and situations plays an important role in your success? Though there is no tested way to determine any of them, business astrology can help you make the correct market predications . It
                helps you analysis the current situations and plan for the biggest challenges in future.
            </p>
            <p>
                Feel the form below to get the best business predication and find the opportunities or challenges in business.
            </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>
        </div>
        <div class="col-md-12 col-lg-6 pt-5 pr-5">
            <h1 class="pt-3">Relationship/Love horoscope</h1>
            <p>
                Does your love will turn into successful marriage? Will your crush become love of your life? What are your chances to have a love marriage? for any advice on love marriage problems or issues related to relationship and companionship.
            </p>
            <p>
                Go ahead to fill the form and unlock the in depth astrology reports of love prediction and compatibility test.
            </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>


        </div>
        <div class="col-md-12 col-lg-6 pt-3 ">
            <img src="../../assets/img/love-1075476_1920.jpg" class="image ">

        </div>
        <div class="col-md-12 col-lg-6 pt-3">
            <img src="../../assets/img/wealth.jpg" class="image ">

        </div>
        <div class="col-md-12 col-lg-6 pt-5 pl-5">
            <h1 class="pt-3">Wealth / Finance Prediction</h1>
            <p>
                Worried about wealth issues? Does your big plan to create money is not working? Don’t worry! Amidst this ups and downs of financial phases, get the astrology guidance from Acharya Devkant. We can help you earn the big bucks, analyzing your horoscope
                reports
            </p>
            <p>
                Scroll down to fill the birth details and find answers to all questions related to financial management, share market and land/house purchase predictions.
            </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>

        </div>
        <div class="col-md-12 col-lg-6 pt-5 pr-5">
            <h1 class="pt-3">Kundali Predications</h1>
            <p>
                In astrology science, Kundali is the mirror of individual life that helps in understanding everything about the persons past and future. The Kundali report provided by us accurately detects the planetary positions at the time of your birth. Giving you
                the insight of everything we wish to know.
            </p>
            <p>
                Enter your birth details in the form below and avail the Kundali report in Hindi delivered to your in inbox.
            </p>
            <button class="btn btn-warning waves-effect">Get Kundali</button>


        </div>
        <div class="col-md-12 col-lg-6 pt-5">
            <img src="../../assets/img/khundli.png" class="image ">

        </div>
        <div class="col-md-12 col-lg-6 pt-5">
            <img src="../../assets/img/gems.jpg" class="image ">

        </div>
        <div class="col-md-12 col-lg-6 pt-5 pl-5">
            <h1 class="pt-3">Lucky Stones Predication</h1>
            <p>
                Get the remedial solutions to strengthen all weak houses and the problematic aspects in your Kundali. Predicting the lucky gemstones for you, Guruji also recommends you the most favorable time, date and place of wearing
                the stones.
            </p>
            <p>
                Add the following details to help us prescribe the best lucky stone that can boost your luck, prosperity, property, health and relationships.
            </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>


        </div>
        <div class="col-md-12 col-lg-6 pt-5 pr-5">
            <h1 class="pt-3">Palmistry</h1>
            <p>
                It is an exercise of foretelling the future by analyzing the structure, pattern, marks and counter lines on the person’s hand. Of all the other branches of astrology, palmistry is the most significant way for accurate prediction
            </p>
            <p>
                Get the instant palmistry predications from our expert astrologer. Fill  the details below for consultation and advice.
            </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>

        </div>
        <div class="col-md-12 col-lg-6 pt-5">
            <img src="../../assets/img/pal.jpg" class="image ">

        </div>
    </div>


</div>


<div class="modal fade " id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Consult Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
            </div>
            <form #userForm="ngForm" (ngSubmit)="onSubmit()">

                <!--Grid row-->
                <div class="row pl-4 pr-4 pt-3">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="submit.name">
                            <label for="name" class="">Name*</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="email" name="email" required class="form-control" [(ngModel)]="submit.email">
                            <label for="email" class="">Email*</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <i class="fas fa-mobile-alt prefix grey-text"></i>
                            <input type="number" id="number" name="mobile" class="form-control" [(ngModel)]="submit.mobile">
                            <label for="number" class="">Mobile no.</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <i class="far fa-calendar-alt  prefix grey-text"></i>
                            <input type="date" id="date" name="date" class="form-control" [(ngModel)]="submit.date">
                            <label for="date" class="">Date of Birth</label>
                        </div>
                    </div>
                    <!--Grid column-->


                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <i class="far fa-clock prefix grey-text"></i>
                            <input type="time" id="time" name="time" class="form-control" [(ngModel)]="submit.time">
                            <label for="time" class="">Time of Birth</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <i class="fas fa-pen prefix grey-text"></i>
                            <input type="text" id="subject" name="subject" class="form-control" required [(ngModel)]="submit.subject">
                            <label for="subject" class="">Subject*</label>
                        </div>
                    </div>
                    <!--Grid column-->


                </div>
                <!--Grid row-->




                <!--Grid row-->

                <!--Grid row-->
                <div class="row pl-4 pr-4">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <i class="far fa-comment prefix grey-text"></i>
                            <textarea type="text" id="message" name="message" required [(ngModel)]="submit.message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message*</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left pl-4 pr-4">
                    <button type="submit" [disabled]="!userForm.form.valid" *ngIf="!disabled" class="btn btn-warning waves-effect">Send</button>
                </div>
                <div class="status pl-4 pr-4 " *ngIf="disabled">
                    <h1 class="text-success">Thank You!</h1>
                    <p class="text-success"> Your message is submitted. Someone from our team will contact you shortly.</p>

                </div>

            </form>


        </div>
        <!--/.Content-->
    </div>
</div>