.background-sky {
    background: linear-gradient(145deg, #FBC02D, #FFFF33);
    color: #fff;
    top: -28px;
    position: absolute;
    z-index: -1;
}

@media (max-width:500px) {
    .hero {
        height: 350px;
        width: 100%;
    }
    .text {
        font-size: 92px;
        padding-top: 4rem;
    }
    .image {
        height: 226px;
        width: 347px;
        margin: 6px;
    }
}

@media (min-width:500px) {
    .hero {
        height: 400px;
        width: 100%;
    }
    .text {
        font-size: 180px;
        padding-top: 4rem;
    }
    .image {
        height: 412px;
        width: 700px;
    }
}