<div class="container-fluid">
    <div class="background-sky hero"></div>

    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6  ">

            <img src="../../../../assets/img/logog.PNG" class="logo  center animated bounceInRight   " align="middle">
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 animated  bounceInDown" style="padding: 5rem 3rem 3rem 3rem;">
            <h1 class="mt-lg-5 wow zoomIn">LET US INTRODUCE
            </h1>
            <p>Connect with the top astrologer in Indore and know what your stars have for you. Here, you will be guided by professional astrologer Mr Devkant Acharya who have years of knowledge and experience in the field of Vedic, KP astrology and Vastu</p>
            <p>Just put your questions in front of Guruji and get the best predictions for your future. No matter whether you want to know about your past, present and future, you are just a step away from <b>the best astrologer in Indore</b> </p>
            <button class="btn btn-warning waves-effect">Consult Now</button>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 p-5t " style="padding: 3rem 3rem 3rem 3rem;">
            <p class="mt-3 mb-3">
                We cover the predictions of almost every area of life along with the remedial rituals. Don’t get perplexed any more. Chuck out all the problems from your life by availing the guidance of practised jyotish in Indore.
            </p>
            <p>
                For any query and suggestion regarding your future, you have the best astrologer in Indore, available online to help you. We assure you with the accuracy of predictions made by our astrologer. Client satisfaction is our key feature and we put all our
                efforts to give the most accurate solutions and remedies. Talk to expert astrologer and get your complete astrology report or short or detailed answer for your any question.
            </p>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 p-5 ">
            <!--Carousel Wrapper-->
            <div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#video-carousel-example" data-slide-to="1"></li>
                    <li data-target="#video-carousel-example" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <video class="video-fluid" autoplay loop muted>
      <source src="../../../../assets/videos/Space - 24211.mp4" type="video/mp4" />
    </video>
                    </div>
                    <div class="carousel-item">
                        <video class="video-fluid" autoplay loop muted>
      <source src="../../../assets/videos/Blue - 26034.mp4" type="video/mp4" />
    </video>
                    </div>
                    <div class="carousel-item">
                        <video class="video-fluid" autoplay loop muted>
      <source src="../../../../assets/videos/Creation - 21494 (1).mp4" type="video/mp4" />
    </video>
                    </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--Carousel Wrapper-->
        </div>

        <div class="col-md-12 col-lg-6 col-xl-6 p-5  animated slideInLeft  ">
            <img src="../../../assets/img/astrology-993127_960_720.jpg" class="mt-5 responsive-image ">

        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 p-5">
            <h1>Horoscope</h1>
            <p> <b>Horoscope</b> is the study of the astrological chart that is representing the sun, moon and other planets, positioned in the different houses. The prediction of past, present and future is efficiently done by Acharya Devkant by analyzing
                the chart and <b>horoscope signs</b> . It is the complete study of nine planets and twelve houses. Here, we deliver the best advice regarding your life, wellbeing, career, money, relationship and a lot more. Get your <b>daily, weekly and
                monthly</b> horoscope and be acquainted with what your planets have for you.</p>
            <p>
                Here, we are offering <b>2020 horoscope</b> for all our readers. Not only this, but you can get <b>rashifal in Hindi</b> as well. Just get <b>aaj ka rashifal</b> or <b>today’s horoscope </b> and the daily predictions for all 12 Zodiac
                signs. In addition, you can also avail the best tips to avoid any unfavourable situation that could affect your life. Read <b>horoscope in Hindi and horoscope in English</b>.
            </p>
            <p>
                Select your <b>zodiac signs </b> below to know <b>today’s horoscope</b> in Hindi and English.
            </p>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <!-- Footer -->
            <div class="container my-5">

                <!-- Section -->
                <section>

                    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Services</h6>
                    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
                    <hr class="w-header my-4">
                    <p class="lead text-center text-muted pt-2 mb-5">Connect with the top astrologer in Indore and know what your stars have for you.
                    </p>

                    <div class="row">

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card text-center bg-success text-white hoverable">
                                <div class="card-body">
                                    <p class="mt-4 pt-2"><i class="far fa-object-ungroup fa-4x"></i></p>
                                    <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Kundali predications</a></h5>
                                    <p class="mb-4">Kundali is the mirror of individual life that helps in understanding everything about the persons present, past and future.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card text-center hoverable">
                                <div class="card-body">
                                    <p class="mt-4 pt-2"><i class="fas fa-heart fa-4x grey-text"></i></p>
                                    <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Relationship/ love horoscope</a></h5>
                                    <p class="text-muted mb-4">Love marriage problems or issues related to relationship and companionship, connect with the astrologer and get the solutions. </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card text-center deep-purple lighten-1 text-white hoverable">
                                <div class="card-body">
                                    <p class="mt-4 pt-2"><i class="fas fa-chart-line fa-4x"></i></p>
                                    <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Wealth/ finance report</a></h5>
                                    <p class="mb-4">Get the guidance from Acharya Devkant. Which can help you earn big bucks, by analyzing your horoscope reports.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card text-center hoverable">
                                <div class="card-body">
                                    <p class="mt-4 pt-2"><i class="fas fa-briefcase-medical fa-4x grey-text"></i></p>
                                    <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Health predication</a></h5>
                                    <p class="text-muted mb-4">Ask everything about health astrology, health problems and medical horoscope from Guruji and get the solutions</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
                <!-- Section -->

            </div>


        </div>
        <div class="col-md-12 col-lg-12 col-xl-12  ">
            <div class="container">
                <!-- Card deck -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4 hoverable ">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/aries-759382_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Aries</h4>
                            <!--Text-->
                            <p class="card-text">Aries signs are fearless adventurers that are always looking for excitement in life.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/bull-759381_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Taurus</h4>
                            <!--Text-->
                            <p class="card-text">Tarus's symbol is the bull because this sign's characteristic is to be peaceful and methodical.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/twins-759375_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Gemini</h4>
                            <!--Text-->
                            <p class="card-text">Gemini, the Twins, is the third sign of the Zodiac in the horoscope. The Gemini Zodiac sign belongs to the element air and the quality mutable.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Card deck -->

            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="container">
                <!-- Card deck -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/cancer-759378_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Cancer</h4>
                            <!--Text-->
                            <p class="card-text">The Cancer sign is cardinal water. As such, it is something of a contradiction. As a cardinal zodiac sign, Cancer is assertive, a self-starter, and a "go-getter".</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top wow fadeInUp" src="../../../assets/img/lion-759374_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Leo</h4>
                            <!--Text-->
                            <p class="card-text">The Leo is a dominant, spontaneous, creative and extroverted character. They possess grace, dignity and an expansive personality.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/virgin-759376_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Virgo</h4>
                            <!--Text-->
                            <p class="card-text">Virgo is mutable (changeable) in nature and is the second sign ruled by the planet Mercury.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Card deck -->
            </div>

        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="container">
                <!-- Card deck -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/horizontal-759380_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Libra</h4>
                            <!--Text-->
                            <p class="card-text">The planet Venus rules a Libra. They are the lovers of beauty and all things pretty. They have a pretty good knowledge about what to say and make others feel very comfortable.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top wow fadeInUp" src="../../../assets/img/scorpio-759377_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Scorpio</h4>
                            <!--Text-->
                            <p class="card-text">Scorpio is ruled by the planet Mars and Pluto (as per modern western astrology), it is fixed, watery, feminine sign, governs sexual organs and the eighth house of the horoscope.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/contactors-759373_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Sagittarius</h4>
                            <!--Text-->
                            <p class="card-text"> Sagittarius belongs to the element fire, its quality is mutable and its charge is positive.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Card deck -->
            </div>

        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="container">
                <!-- Card deck -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/capricorn-759379_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Capricorn</h4>
                            <!--Text-->
                            <p class="card-text">Capricorn (the goat) is the most serious of all the zodiac signs. You are independent and (usually) confident.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top wow fadeInUp" src="../../../assets/img/aquarius-759383_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Aquarius</h4>
                            <!--Text-->
                            <p class="card-text">Aquarius zodiac sign is a group-oriented person, but only in that, they like to work with others to accomplish a goal. They also love their freedom and treasure it above nearly all else.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4 hoverable">

                        <!--Card image-->
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="../../../assets/img/fish-759384_1920.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Pisces</h4>
                            <!--Text-->
                            <p class="card-text">You belong to the twelfth house of the Zodiac circle, Pisces. You are usually intuitive, trusting, loving and creative. Neptune is your ruling planet.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div>
                    <!-- Card -->

                </div>
                <!-- Card deck -->
            </div>

        </div>

        <div class="col-md-12 col-lg-12 col-xl-12 p-3">
            <!--Section: Contact v.2-->
            <section class="mb-4 container jumbotron ">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4">Consult Now</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>

                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-9 mb-md-0 mb-5">
                        <form #userForm="ngForm" (ngSubmit)="onSubmit()">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <i class="fas fa-user prefix grey-text"></i>
                                        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="submit.name">
                                        <label for="name" class="">Your name</label>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <input type="text" id="email" name="email" required class="form-control" [(ngModel)]="submit.email">
                                        <label for="email" class="">Your email</label>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <i class="fas fa-mobile-alt prefix grey-text"></i>
                                        <input type="number" id="number" name="mobile" class="form-control" [(ngModel)]="submit.mobile">
                                        <label for="number" class="">Mobile NO.</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <i class="far fa-calendar-alt  prefix grey-text"></i>
                                        <input type="date" id="date" name="date" class="form-control" [(ngModel)]="submit.date">
                                        <label for="date" class="">Date of Birth</label>
                                    </div>
                                </div>
                                <!--Grid column-->


                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <i class="far fa-clock prefix grey-text"></i>
                                        <input type="time" id="time" name="time" class="form-control" [(ngModel)]="submit.time">
                                        <label for="time" class="">Time of Birth</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <i class="fas fa-map-pin prefix grey-text"></i>
                                        <input type="text" id="place" name="place" class="form-control" required [(ngModel)]="submit.place">
                                        <label for="place" class="">Place of Birth</label>
                                    </div>
                                </div>
                                <!--Grid column-->


                            </div>
                            <!--Grid row-->




                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <i class="fas fa-pen prefix grey-text"></i>
                                        <input type="text" id="subject" name="subject" class="form-control" required [(ngModel)]="submit.subject">
                                        <label for="subject" class="">Subject</label>
                                    </div>
                                </div>

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <i class="far fa-comment prefix grey-text"></i>
                                        <textarea type="text" id="message" name="message" required [(ngModel)]="submit.message" rows="2" class="form-control md-textarea"></textarea>
                                        <label for="message">Your message</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->
                            <div class="text-center text-md-left">
                                <button type="submit" [disabled]="!userForm.form.valid" *ngIf="!disabled" class="btn btn-warning waves-effect">Send</button>
                            </div>
                            <div class="status " *ngIf="disabled">
                                <h1 class="text-success">Thank You!</h1>
                                <p class="text-success"> Your message is submitted. Someone from our team will contact you shortly.</p>

                            </div>

                        </form>



                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-3 text-center">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                <p>San Francisco, CA 94126, USA</p>
                            </li>

                            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                <p>+ 01 234 567 89</p>
                            </li>

                            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                <p>contact@mdbootstrap.com</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                </div>

            </section>
            <!--Section: Contact v.2-->


        </div>




    </div>

</div>